html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: color(light);
  font-weight: weight(normal);
  font-size: size(xs);
  font-family: $font;
  background-color: color(dark);
}

*::selection {
  color: color(light);
  background-color: color(primary);
}
