@each $name, $color in $colors {

  .bg-#{$name} {
    background-color: $color;
  }

  .text-#{$name} {
    color: $color;
  }
}

@each $name, $size in $sizes {

  .font-#{$name} {
    font-size: $size;
  }
}
